#!/bin/bash

echo `date +%Y%m%d` >> /etc/nginx/.log

if [[ "$TLSFOLDER" = "" ]]; then
  TLSFOLDER="/var/www"  
fi

TLSFOLDER=${TLSFOLDER%/}

if [[ ! -d "$TLSFOLDER" ]]; then
    mkdir -p "$TLSFOLDER"
fi

for d in "$TLSFOLDER/*" ; do
    [ -L "${d%/}" ] && continue

    d=${d%/}

    if [[ ( -d "$d" ) && ( ! -d "$d/build" ) ]]; then
        renewdom="$(basename -- $d)"
        
        ./acme.renew    -dom "$renewdom" -path "$d" -t "ECDSA" \
                        -cfkey "$CLOUDFLARE_KEY" -cfmail "$CLOUDFLARE_MAIL"
    fi
done
